a.social {

    --bg-img: "";
    background-image: var(--bg-img);
    width: 1.5rem;
    height: 1.5rem;
    display: block;

    -webkit-background-clip: initial;
    background-clip: initial;

&[aria-label="tiktok"] {
    background-image: url(../assets/tikok.svg);

    &:hover {
        background-image: url(../assets/tiktok-hover.svg);
    }
}

&[aria-label="instagram"] {
    background-image: url(../assets/instagram.svg);

    &:hover {
        background-image: url(../assets/instagram-hover.svg);
    }
}

&[aria-label="twitter"] {
    background-image: url(../assets/twitter.svg);

    &:hover {
        background-image: url(../assets/twitter-hover.svg);
    }
}

&[aria-label="discord"] {
    background-image: url(../assets/discord.svg);

    &:hover {
        background-image: url(../assets/discord-hover.svg);
    }
}

}