.py-base {
    padding-block: var(py-base);
}

.py-lg {
    padding-block: var(py-lg);
}

.py-xl {
    padding-block: var(py-xl);
}

.container {
    --max-width: 375px;
    width: min(var(--max-width), 100% - var(--px-lg) * 2);
    margin-inline: auto;
    border: solid violet;
}

@media (width >= 80em) {
    .container {
        max-width: 80em;
    }
}